.restroCardLinks {
  all: unset;
}
.cardContainer {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
  cursor: pointer;
}

.cardContainer .restaurantCard {
  transition: transform 0.3s ease;
  width: 350px;
  height: 370px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}
.cardContainer .restaurantCard .restroCardDetails {
  padding: 0 1rem 1rem 1rem;
}

.cardContainer .restaurantCard .restaurant-pic {
  height: 200px;
  object-fit: cover;
}

.cardContainer .restaurantCard .restroCardDetails .restaurant-name {
  font-size: 1.3rem;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  cursor: pointer;
}
.cardContainer .restaurantCard .restroCardDetails .ratings {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  align-items: flex-end;
  margin-top: 0.5rem;
}
.cardContainer .restaurantCard .restroCardDetails .ratings img {
  margin-right: -0.3rem;
}
.cardContainer .restaurantCard .restroCardDetails .ratings .time {
  font-weight: 600;
}
.cardContainer .restaurantCard .restroCardDetails .cuisines {
  margin-top: 0.5rem;
}
.restaurantCard:hover {
  transform: scale(1.05);
}
.restaurantCard:active {
  transform: scale(0.95);
}
