.restaurantMainPage {
  width: 90vw;
  margin: auto;
  margin-top: 2rem;
}
.restraurantDetails {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0px 35px 60px -50px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 35px 60px -50px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 35px 60px -50px rgba(0, 0, 0, 0.6);
}
.restraurantDetails .name {
  margin-bottom: 1rem;
}
.restraurantDetails .miscDetails {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.restraurantDetails .miscDetails .cuisines {
  color: rgb(255, 82, 0);
  font-weight: 600;
}
.restraurantDetails .miscDetails p a {
  font-weight: 700;
}
.restraurantDetails .miscDetails .ratings {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: 700;
}
.restraurantDetails .miscDetails .ratings .costForTwo {
  margin-left: 10px;
}

.itemCategory {
  margin-top: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.itemCategory h2 {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  padding: 1rem;
}

.menuItems {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;
  margin-top: 10px;
  display: flex;
  border-bottom: 1px solid rgb(204, 204, 204);
  justify-content: space-between;
}
.menuItems .dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.menuItems .dish .bold {
  font-weight: 600;
}
.menuItems .dishImageCont {
  min-width: max-content;
  max-height: max-content;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menuItems .dishImageCont img {
  width: 180;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.menuItems .dishImageCont button {
  all: unset;
  position: absolute;
  bottom: 10;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(27, 166, 115);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid rgba(27, 166, 115, 0.5);
}
@media only screen and (min-width: 700px) {
  .restaurantMainPage {
    width: 70vw;
    margin: auto;
    margin-top: 3rem;
  }
}
