.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem 0 0.5rem;
  height: 70px;
  width: 70vw;
  margin: auto;
  margin-top: 1rem;
  border-radius: 100px;
  border: 2px solid #afafaf;
}

.header .nav-items {
  display: flex;
  gap: 1.5rem;
}
.header .nav-items .nav-item {
  all: unset;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 600;
}
.header .nav-items .nav-item a {
  all: unset;
}
